# Domain Configuration
DOMAIN_NAME=example.org
SUBDOMAIN=n8n

# Timezone Configuration
GENERIC_TIMEZONE=Europe/Berlin

# PostgreSQL Configuration
POSTGRES_USER=n8n
POSTGRES_PASSWORD=SecurePassword
POSTGRES_DB=n8n
POSTGRES_NON_ROOT_USER=n8n_user
POSTGRES_NON_ROOT_PASSWORD=SecurePassword
